################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cinema/CinemaDB.mdf
/Cinema/CinemaDB_log.ldf
