@model TopicViewModel
@{
    ViewData["Title"] = "New topic";
}

@{ 
    var topicList = new SelectList(Model.Topics, "TopicId", "TopicName");
}

<div asp-validation-summary="All"></div>
<form asp-controller="Topic" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title">Topic title:</label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description">Topic description:</label>
        <input asp-for="Description" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ParentTopicId">Parent topic:</label>
        <select asp-for="ParentTopicId" asp-items="topicList" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary">Create a topic</button>
</form>