@{
    ViewData["Title"] = "Home";
}

<div class="text-center text">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">A Clockwork Orange Movie Theater!</h1>
    <p>
        <div>“It's funny how the colors of the real world only seem really real when you watch them on a screen.”</div>
        <div>— Anthony Burgess, A Clockwork Orange</div>
    </p>
    <br />
    <div><a asp-controller="Movie" asp-action="Index"><b>Browse all movies</b></a></div>
    <div><a asp-controller="Movie" asp-action="Genres"><b>Browse by genre</b></a></div>
</div>
