@{
    ViewData["Title"] = "About";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-8 col-sm-12">
        <p>The Daily Prophet is a wizarding newspaper and a news portal based in London, England and is the primary source of news for British and Irish wizards. The current Editor in Chief is Barnabas Cuffe, who works in the main office located in Diagon Alley.</p>
        <p>The paper features a morning and evening edition, the latter of which is called the Evening Prophet. The weekend edition is called the Sunday Prophet. Additional news bulletins can be delivered quickly when important, newsworthy events occur.</p>
    </div>
    <div class="col-md-4 col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d600.9993941500396!2d-1.1478229353939056!3d52.948466635028865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c3d36679993d%3A0xbaa819f7a6356172!2sDiagon%20Alley%2C%20Nottingham%2C%20UK!5e0!3m2!1sen!2slv!4v1614300710982!5m2!1sen!2slv" width="350" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
