@model List<CinemaLogic.DB.Genres>
@{
    ViewData["Title"] = "Genres";
}

<br />
@foreach (var g in Model)
{
    @if (g.Movies.Count > 0)
    {
        <a type="button" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genreid="@g.Id" class="btn btn-outline-light btn-lg btn-block">@g.Genre (@g.Movies.Count)</a>
    }
}