@{
    ViewData["Title"] = "Ziņas virsraksts";
}
<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link active" href="#">Latvijā</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ārvalstīs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Kriminālziņas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Sports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Auto</a>
    </li>
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Latvijā</li>
        <li class="breadcrumb-item active" aria-current="page">Ziņas virsraksts</li>
    </ol>
</nav>
<div>
    <h1>Ziņas virsraksts</h1>
    <h5>Autors <span class="text-secondary">Pievienošanas laiks</span></h5>
    <div>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo dui sit amet nisl ornare, cursus mattis justo fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vel dictum massa. Quisque hendrerit gravida magna, in lobortis augue posuere dictum. Phasellus molestie enim sed urna ornare vehicula. Donec vulputate risus vel quam porta, ac consectetur orci consectetur. Maecenas id iaculis lacus. Suspendisse semper non nulla quis laoreet. Maecenas imperdiet malesuada nunc ut cursus. Aliquam placerat enim non velit placerat, at porttitor mauris vulputate. Fusce nulla dolor, fringilla at rhoncus ac, consequat nec orci. Donec eget leo nunc. Maecenas porta consequat ante eget eleifend. Maecenas et porta ipsum. Nunc tristique nibh non nunc lacinia rutrum. Aliquam tristique libero et pulvinar porttitor.
    </p>
    <p>
        Vivamus cursus tincidunt hendrerit. Vestibulum lorem ex, finibus at ex a, molestie efficitur dolor. Maecenas nec tempus metus. Integer vitae dui in turpis faucibus vehicula. Nunc vitae leo enim. Phasellus fringilla malesuada commodo. Phasellus volutpat risus nec auctor tempor. Pellentesque diam risus, bibendum ut justo vitae, maximus convallis risus. In eget accumsan turpis, in vehicula mauris. Fusce bibendum ultrices lorem ac maximus. Quisque a erat vitae ex varius scelerisque. Cras quis finibus mauris. Nunc in massa in neque luctus elementum. In tempor diam nisi, et pretium ante blandit eu. Cras aliquam vel nisl ac molestie. Praesent aliquet congue erat, ac vehicula ligula fringilla mattis.
    </p>
    <p>
        Donec aliquet sapien ipsum, et vehicula ante placerat ut. Ut vitae tempus tortor. Vestibulum non convallis purus. Integer et tristique risus. Suspendisse laoreet orci quis lacus condimentum, at lobortis purus cursus. Pellentesque varius nec nisl ut dictum. Donec lacinia velit eu laoreet interdum. Nunc eget justo dignissim, dignissim nibh sit amet, ultricies magna. Sed egestas lorem porttitor nunc accumsan ullamcorper. Nunc rutrum faucibus purus eget dapibus. Nulla diam purus, ultrices posuere lacinia non, pulvinar id mauris.
    </p>
    <p>
        Sed faucibus dui eget diam malesuada pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus faucibus, neque vitae placerat venenatis, urna nisi posuere arcu, sit amet faucibus ligula massa accumsan arcu. Cras malesuada risus in lorem dignissim tempor. Nulla tincidunt lectus nec ex ultricies vestibulum. Curabitur at quam eleifend, luctus eros eu, sagittis arcu. Quisque enim est, condimentum id dignissim eget, dapibus a dui. Curabitur elit metus, tincidunt at fringilla at, dapibus non lectus. Sed finibus tortor vitae urna fermentum, in tristique tellus sollicitudin. Duis dapibus nisi purus, nec interdum purus lacinia vestibulum. Praesent vehicula vitae velit non mollis. Duis at cursus neque, sit amet pretium sapien.
    </p>
    <p>
        Etiam eget eleifend arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vulputate odio augue, sed efficitur leo lobortis in. Mauris dictum et turpis sit amet consequat. In lobortis nisi dolor, in imperdiet dolor volutpat et. Phasellus ac lacus pretium, viverra lorem vel, aliquet justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis fringilla ex sit amet aliquam. Vivamus euismod tellus at odio porttitor mattis. Vestibulum ac dictum lectus, sit amet lacinia nisi. Praesent quis fermentum mauris, sed egestas enim. Aenean rhoncus mollis nibh, in malesuada lacus facilisis sed. Nulla leo leo, scelerisque ut risus vitae, accumsan vestibulum urna. Fusce purus sem, feugiat in ornare nec, sagittis eget metus. Phasellus eget nibh ipsum.
    </p>
</div>