@model CreateArticleViewModel
@{
    ViewData["Title"] = "New article";
}

@{
    var topicList = new SelectList(Model.Topics, "TopicId", "TopicName");
}

<div asp-validation-summary="All"></div>
<form asp-controller="News" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Headline"></label>
        <input asp-for="Headline" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="TopicId"></label>
        <select asp-for="TopicId" asp-items="topicList" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control-file">
    </div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control" rows="5"></textarea>
    </div>
    <input asp-for="Id" type="hidden" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>